/*
Colors

orange: #c56600
blue: #0e2361


*/

body {
	margin: 0;
	padding: 0;
	font: 110%/1.4 "HelveticaNeue","Helvetica","Arial",sans-serif;
	background: #eee;
}

p {
	margin: 0 0 1em;
}

h1, h2, h3, h4 {
	color: #c56600;	
}

h1 {
	font-size: 2em;
	margin: 0 0 0.5em;
	border-bottom: 1px solid #ddd;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size:  1.4em;
}

a {
	color: #0E2361;
}

img {
	border:none;
	max-width: 100%;
	height: auto;
}

.imgLeft {
	float:left;
	margin:0px;
	padding:0px 10px 10px 0px;
}

.imgRight {
	float:right;
	margin:0px;
	padding:0px 0px 10px 10px;
}

.container {
	position:relative;
	margin: 0 auto;
}

.apDiv-facebook {
	position:absolute;
	width:30px;
	height:30px;
	z-index:1;
	left: 790px;
	top:5px;
}

.headerimage img {
	margin: 0;
	display: block;
}

.subnav {
	float: left;
	width: 148px;
	padding: 30px 0 0 20px;
	background: #0e2361;
	color: #fff;
}

.subnav h2 {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	line-height: 18px;
	color: #fff;
	border-bottom: 1px solid #374B7F;
	margin: 0 0 10px 0;
	padding-bottom: 4px;
}

.subnav ul {
	padding: 0;
	margin: 0;
}

.subnav li {
	list-style: square;
	padding: 0;
	margin: 0 0 3px 0;
}

.subnav a {
	color: #fff;
	text-decoration: none;
}

.subnav a:hover{
	color: #F00;
}

.subnav img {
	margin: 12px 0 0 -10px;
	border: 0;
}

.subnav img.angies {
	margin: 0px 0 0 -10px;
	border: 0;
}

.mission {
	width: 595px;
	padding: 34px 60px 20px 27px;
	float:left;
	display: inline;
	margin-bottom: 80px;
}

.mission p {
	width: 197px;
	margin: 0;
}

.homecontent {
	float: right; 
	display: inline;
	width: 346px;
}

/*HOME CONTENT BOXES*/
.nutrition img, .chiropractic img, .radio img, .halfhour img {
	float: left;
	display: inline;
	margin-right: 10px;
}

.nutrition h2, .chiropractic h2, .radio h2, .halfhour h2 {
	font-size: 13px;
	margin: 0;
}

.nutrition p, .chiropractic p, .radio p, .halfhour p {
	float: right;
	margin: 0 0 0 0;
}

.radio p {
	width: 253px;
}

.halfhour p {
	width: 376px;
}

.chiropractic p {
	width: 152px;
}

.nutrition p {
	width: 175px;
}

.nutrition, .chiropractic, .radio, .halfhour{
	width: 300px;
	float: right;
	display: inline;
	margin-bottom: 45px;
	margin-top: 0;
	height: 81px;
}

.nutrition {
	margin-right: -30px;
	width: 320px;
	margin-bottom: 75px;
}

.chiropractic, .radio, .halfhour{
	clear: right;
	margin-right: 30px;
	margin-bottom: 65px;
}

.radio {
	float: right; 
	display: inline;
	margin-bottom: 55px;
	margin-top: 0;
	margin-right: 10px;
	height: 81px;
	width: 400px;
}

.halfhour {
	float: right; 
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 70px;
	height: 81px;
	width: 520px;
}

.content {
	padding: 34px 69px 20px 42px;
	margin-left: 160px;
}

.content p {
	margin: 4px 0 12px 0;
	padding-right: 20px;
}

.content ul {
	margin: 0 80px 40px 0;
	background: #B0CAE5;
	color: #0e2361;
	font-size: 12px;
	padding: 10px 10px 10px 20px;
	width: 230px;
	float: right;
	margin: 0 0 0 30px;
	display: block;
	width: 180px;
}

.content li {
	list-style: square;
	margin: 0;
	padding: 0;
}

.footer {
	clear: both;
	padding-top: 5px;
	text-align: center;
}

.footer h3 {
	color: #696969;
	margin: 0;
}

.backtotop {
	color: #666666;
}

/* Navigation */

.nav {
	height: 25px;
	padding-top: 11px;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	list-style: none;
	padding: 0 20px 0 15px;
}

.nav a {
	color: #001b69;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 15px 0;
}

.nav a:hover {
	color: #F00;
}

.nav ul ul {
	position: absolute;
	top: 30;
	left: 50;
}

.nav ul ul {
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	padding: 0;
}

.nav ul ul {
	display: none;
	margin: 0;
	padding: 0;
	background: #ededed;
	border: 1px solid #001b69;
}

.nav ul ul li {
	margin: 0;
	display: block;
	padding: 0;
}

.nav ul ul li a {
	width: 100%;
	display: block;
}

.nav ul li:hover ul {
	display: block; 
	position:absolute;
}


.nav ul li:hover ul{
	display: block;
	margin:28px 0 0 135px;
	padding: 0;
}

.nav ul li:hover ul a {
	padding: 5px;
}

.nav ul li:hover ul a:hover {
	width: 140px;
	background: #001b69;
	color: #fff;
}

.nav li ul li a {
	font-size:12px;
}

.quote{
	background: #B0CAE5 url(images/bg_quote.gif) no-repeat;
	font-style: italic;
	color: #0e2361;
	padding: 10px 10px 10px 40px;
	width: 150px;
	float: right;
	margin: 0 0 0 50px;
	display: block;
	border: 1px solid #0e2361;
}

.name {
	color: #667DA8;
	font-size: 15px;
	letter-spacing: .25em;
	font-weight: bold;
}

.contact {
	background: #B0CAE5;
	font-size: 13px;
	color: #0e2361;
	padding: 10px;
	border: 1px solid #0e2361;
}

.contact2 {
	background: #B0CAE5;
	font-size: 13px;
	font-weight: bold;
	color: #0e2361;
	padding: 10px;
	border: 1px solid #0e2361;
	width: 300px;
}

.contact ul.events {
	float: left;
}

.hide {
	display: none;
}
