/* CSS Document */
* {
	padding: 0; 
	margin: 0;
}
#container {
	margin:0 auto;
	background: #fff;
	width:660px;
	text-align: left;
	vertical-align: top;
	background: url(images/shadow.gif);
}
#header {
	height: 155px;
	background:url(images/header.jpg) center no-repeat;
	font-family: Arial, Helvetica, sans-serif;
}
#header ul{
	padding: 122px 0px 0px 118px;
}
#header li{
	display: inline;
	list-style-type: none;
	padding:15px;
}
#header a {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFCC;
	text-decoration:none;
}
#header a:hover{
	color: #fff;
}
#nav {
	height: 24px;
	background:url(images/nav.jpg) center no-repeat;
}
#content {
	background: url(images/shadow.gif);
	text-align: left;
	min-width: 650px;
	padding: 45px 0 25px 0;
} 
#footer {
	height: 90px;
	background:url(images/footer.gif) center repeat-y;
	text-align: center;
	color:#FFFFCC;
	font-size:11px;
	margin-top: 20px;
}
#footer ul{
	padding: 3px 0px 0px 0px;
}
#footer li{
	display: inline;
	list-style-type: none;
	padding:30px;
}
#footer a {
	font-size: 12px;
	color: #FFFFCC;
}
#footer a:hover{
	color: #fff;
}
#copy {
	font-size: 10px;
	text-align:center;
}
#onecol {
	padding: 20px 35px 0px 35px;
}
#left {
	float:left;
	width: 280px;
	padding: 15px 0 0 25px;
}
#left2 {
	float:left;
	width: 320px;
	padding: 15px 0 0 35px;
}
#left3 {
	float:left;
	width: 380px;
	padding: 15px 0 0 35px;
}
#leftmenu {
	float:left;
	width:170px;
	padding: 15px 15px 15px 15px;
	background:#FFFFCC;
	margin-right: 10px;
}
#right {
	float:right;
	padding: 15px 25px 30px 0;
	text-align: left;
	width: 290px;
}
#right2 {
	float:right;
	padding: 15px 25px 0 0;
	text-align: left;
	width: 260px;
}
#right3 {
	float:right;
	padding: 25px 35px 20px 30px;
	text-align: left;
	width: 170px;
}
#right4 {
	padding: 15px 35px 0 370px;

}
#leftmenu ul{
	background-color:#FFFFCC;
	list-style:none;
}
#leftmenu li{
	padding: 5px 3px;
}
#subnav ul{
	text-align: center;
	color:#999999;
}
#subnav li{
	display: inline;
	list-style-type: none;
	padding: 2px;
}
#subnav a{
	color:#010099;
	font-weight: bolder;
}

/*elements*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .80em;
	background: url(images/logobg.jpg);
}
p {
	margin: 10px 0;
}
a {
	color:#010066;
}
h2 {
	color:#9A0000;
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 5px;
	}
h3 {
	color: #9A0000;
	font-size: 14px;
	font-weight: bolder;
}
h5 {
	padding-left:100px;
	margin-top: 20px;
	}
table {
	background-color: #E6E6E6;
	border:0;
	padding:0;
	margin:0;
	s
}
td {
	padding: 2px;
	height: 25px;
}

/*classes*/
.top {
	margin-top: 20px;
	text-decoration:none;
	}
.gray {
	background-color: #DDDDDD;
}
.bgcolor {
	background-color:#000066;
}
.textcenter {
	text-align:center;
}
.padleft {
	padding:0 100px;
}
.backtotop{
	color:#999999;
	display: inline;
	text-decoration:none;
	font-size: .7em;
	margin-left: 30px;
	font-weight:normal;
}

